window{
    background-color: #000000;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes diamond-out-hesitate-forward {
    0% {
        clip-path: polygon(-50% 50%, 50% -50%, 150% 50%, 50% 150%);
    }
    50% {
        clip-path: polygon(45% 50%, 50% 25%, 55% 50%, 50% 75%);
    }
    100% {
        clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
    }
}

.animated {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    animation: diamond-out-hesitate-forward 1s cubic-bezier(.25, 1, .30, 1) forwards,
    diamond-out-hesitate-forward 1s cubic-bezier(.25, 1, .30, 1) 1s reverse forwards;
}
