*:not(popover) { all: unset;}

@import "scss-globals/default-scheme";
@import "scss-globals/palette";
@import "scss-globals/theme";
@import "scss-globals/mixins";

@import "../../mvvm/views/bar/bar";

