@import "theme";

$lato-font = 'Lato';

label{
  color: $text;
  font-family: $lato-font;
}

window{
  background-color: $global-bg;
  margin: 0 5px 0 5px;
  border-radius: $corner-radius;
}

window > * {
  margin: 0 5px 0 5px;
}