@import "theme";

label{
  color: $text;
  font-family: $lato-font;
}

window{
  background-color: $global-bg;
  border-radius: $corner-radius;
}

window, box, center > * {
  margin: 0 5px 0 5px;
}

menu {
  border-radius: $corner-radius;
  background-color: $global-bg;
  padding: 15px;
}

menuitem {
  border-radius: $corner-radius;
  padding: 10px 10px;
  color: $flat-button-disabled;
  transition: color 0.1s ease;

  &:hover{
    background-color: $main-bg;
    color: $text;
  }
}

menuitem:checked {
  background-color: $contrast-bg;
  color: $text;
}

