@import "palette";



//--> Global
$global-bg: if($is-dark-theme, #000, $color-50);
$lato-font: 'Lato';

//BG
$main-bg: if($is-dark-theme, $color-950, $color-200);
$contrast-bg: $color-600; //-> DOESN'T DEPEND ON THE COLOR THEME

//BORDER
$border: if($is-dark-theme, $color-900, $color-200);
$corner-radius: $rounding;

//TEXT
$text: if($is-dark-theme, $color-50, $color-950); //$color-50;
$secondary-text: if($is-dark-theme, $color-200, $color-900);//$color-600;
$disabled-text: if($is-dark-theme, $color-700, $color-400);//$color-700;

//FLAT-BUTTONS
$flat-button-default: $color-500; //-> DOESN'T DEPEND ON THE COLOR THEME
$flat-button-hover: $color-600; //-> DOESN'T DEPEND ON THE COLOR THEME
$flat-button-active: $color-700; //-> DOESN'T DEPEND ON THE COLOR THEME
$flat-button-disabled: $main-bg;
$flat-button-disabled-text: $disabled-text;

//OUTLINE-BUTTONS
$outline-button-border-default: $color-500; //-> DOESN'T DEPEND ON THE COLOR THEME
$outline-button-border-hover: $color-600; //-> DOESN'T DEPEND ON THE COLOR THEME
$outline-button-border-active: $color-700; //-> DOESN'T DEPEND ON THE COLOR THEME
$outline-button-border-disabled: $border;
$outline-button-text-disabled: $border;