$theme_bg_color: #000000;
$theme_fg_color: #ffffff;

window.bar{
  background-color: $theme_bg_color;
  color: $theme_fg_color;
}

button{
  margin: 10px;
}
.logo{
  border-radius: 50%;
}

.logo-icon{
  @keyframes spin {
    to { -gtk-icon-transform: rotate(1turn); }
  }

  image.spinning {
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

.clock{
  margin: 10px;
}
