@import "../../../services/style/scss-globals/theme";

box.bar{
  //background-color: $main-bg;
  //border-radius: $corner-radius;
}

button.date label{
  font-size: 0.9rem;
  opacity: 0.7;
  color: #0000ff;

  transition: color 0.3s ease;
  margin-right: 5px;
  &:hover{
    color: $contrast-bg;
  }
}

label.time{
  font-weight: bold;
}

.logo-button{
  min-width: 45px;
  min-height: 45px;
}

.logo-icon{
  opacity: 0.5;
}