@import "../../../services/style/scss-globals/theme";

box.bar{
  //background-color: $main-bg;
  //border-radius: $corner-radius;
}

.date{
  font-size: 0.9rem;
  font-weight: lighter;
  opacity: 0.7;
}

label.time{
  font-weight: bold;
}

.logo-button{
  min-width: 45px;
  min-height: 45px;
}

.logo-icon{
  opacity: 0.5;
}

.clock{
  margin-right: 15px;
}
