*:not(popover) { all: unset;}

box.bar{
  background-color: gray;
  border-radius: 20px;
  border-color: #ffffff;
  border-width: 5px;
}

.logo{
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
}

.clock{
  //margin: 5px;
}
