//@import "../../../services/style/scss-globals/theme";
@import "services/style/scss-globals/theme";

box.bar{
  background-color: $main-bg;
  border-radius: 20px;
}

.logo{
  min-width: 40px;
  min-height: 40px;
}

.clock{
  margin-right: 10px;
  color: $text;
}
