@import "../../../services/style/scss-globals/theme";

.bar{
  border-radius: 0;
}

box.barRounded{
  border-radius: $corner-radius;
}

//Clock
button.date {
  font-size: 0.9rem;
  opacity: 0.7;
  margin-right: 5px;

  label {
    transition: color 0.3s, opacity 0.1s;
  }

  &:hover label {
    color: $secondary-text;//$hyperlink-text;
    opacity: 1;
  }
}
label.time{
  font-weight: bold;
}

//Workspaces

.workspace{
  border-radius: 50px;
  opacity: 0.7;
  background-color: $flat-button-default;
}

.workspace-focused{
  border-radius: 50px;
  opacity: 0.8;
  background-color: $flat-button-active;
}

box.workspace-box > * {
  margin: 0 5px 0 5px;
}

//Launcher button
.logo-button{
  min-width: 45px;
  min-height: 45px;
}
.logo-icon{
  opacity: 0.8;
}