@import "../../../services/style/scss-globals/theme";

box.bar{
  background-color: $main-bg;
  border-radius: $corner-radius;
}

.logo-button{
  min-width: 40px;
  min-height: 40px;
}

.logo-icon{
  -gtk-icon-palette: $contrast-bg;
}

.clock{
  margin-right: 10px;
  color: $text;
}
