@import "../../../services/style/scss-globals/theme";

.bar {
  border-radius: 0;
}

box.barRounded {
  border-radius: $corner-radius;
}

//Clock
button.date {
  font-size: 0.9rem;
  opacity: 0.7;
  margin: 5px;

  label {
    transition: color 0.3s, opacity 0.1s;
  }

  &:hover label {
    color: $secondary-text; //$hyperlink-text;
    opacity: 1;
  }
}

label.time {
  font-weight: bold;
}

//Workspaces
.workspace {
  margin: 3px;
  min-height: 10px;
  min-width: 10px;
  border-radius: 50px;
  opacity: 0.3;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  background-color: $flat-button-default;

  &-focused {
    @extend .workspace;
    opacity: 0.8;
    background-color: $flat-button-active;
  }
}


//Launcher button
.logo-button {
  min-width: 45px;
  min-height: 45px;
}

.logo-icon {
  opacity: 0.8;
}

//Tray
.tray-icon {
  min-width: 40px;
  min-height: 40px;
}
