*:not(popover) { all: unset;}

$theme_bg_color: rgb(0, 0, 0);
$theme_fg_color: rgb(255, 255, 255);

window.bar{
  background-color: $theme_bg_color;
  color: $theme_fg_color;
}

button{
  margin: 5px;
}
.logo{
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
}

.clock{
  margin: 5px;
}
