@import "../../../services/style/scss-globals/theme";

box.bar{
  //background-color: $main-bg;
  //border-radius: $corner-radius;
}

.logo-button{
  min-width: 45px;
  min-height: 45px;
}

.logo-icon{
  opacity: 0.5;
}

.clock{
  margin-right: 15px;
}
