*:not(popover) { all: unset;}

window.bar{
  padding: 5px 5px 5px 5px;
}

box.bar{
  background-color: gray;
  border-radius: 50%;
  border-color: white;
  border-width: 5px;
  padding: 5px 5px 5px 5px;
}

button{
  margin: 5px;
}
.logo{
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
}

.clock{
  //margin: 5px;
}
