$theme_bg_color: #000000;
$theme_fg_color: #ffffff;

window.bar{
  background-color: $theme_bg_color;
  color: $theme_fg_color;
}

button{
  margin: 10px;

}
.logo{
  border-radius: 50%;
  width: 100%;
}
.clock{
  margin: 10px;
}
