*:not(popover) { all: unset;}

window.bar{
  padding: 5px;
}

box.bar{
  background-color: transparent;
  border-radius: 9999px;
  border-color: white;
  border-width: 5px;
  margin: 5px;
}

button{
  margin: 5px;
}
.logo{
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
}

.clock{
  //margin: 5px;
}
