*:not(popover) { all: unset;}

window.bar{
  background-color: transparent;
  border-radius: 50%;
  border-color: white;
  margin: 5%;
}

button{
  margin: 5px;
}
.logo{
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
}

.clock{
  margin: 5px;
}
