@import "../../../services/style/scss-globals/theme";

box.bar{
  //background-color: $main-bg;
  //border-radius: $corner-radius;
}

button.date{
  font-size: 0.9rem;
  opacity: 0.7;
  margin-right: 5px;
}

button.date label{
  transition: color 0.3s;
}

button.date:hover label{
  color: $contrast-bg;
}

label.time{
  font-weight: bold;
}

.logo-button{
  min-width: 45px;
  min-height: 45px;
}

.logo-icon{
  opacity: 0.5;
}